<div class="jumbotron">
  <h1 class="display-4">Seja Bem Vindo!</h1>
  <p class="lead">Este é o Crypto Wallet.</p>
  <hr class="my-4">
  <p>Para Começar selecione uma das opções.</p>
  <p class="lead">
    
  </p>
  <%= render 'menu' %>
</div>
