<p style="color: green"><%= notice %></p>

<h1><% MiningType.model_name.human(count: @mining_types.count)%> </h1>

<div id="mining_types">
  <% @mining_types.each do |mining_type| %>
    <%= render mining_type %>
    <p>
      <%= link_to t('links.show'), mining_type, class:"btn btn-outline-primary"%>
    </p>
  <% end %>
</div>

<%= link_to t('new.mining_type'), new_mining_type_path, class:"btn btn-primary" %>
