<div id="<%= dom_id coin %>">
  
    <strong>Description:</strong>
    <%= coin.description %>
  

  
    <strong>Acronym:</strong>
    <%= coin.acronym %>
  

  
    <strong>Image:</strong>
    <%= image_tag coin.url_image, width: 50, height: 50 %>
  

</div>
