<h1><%= t('editing.coin') %></h1>

<%= render "form", coin: @coin %>

<br>

<div>
  <%= link_to t('links.show'), @coin, class:"btn btn-outline-primary" %> |
  <%= link_to t('links.back'), coins_path, class:"btn btn-outline-primary" %>
</div>
